body {
  padding: 0;
  margin: 0 auto;
  background-image: linear-gradient(to right, red, blue);
  max-width: 400px;
  align-items: center;
}

h1 {
  color: white;
}

input {
  height: 30px;
  font-size: 18px;
}

button {
  border: none;
  margin-top: 5px;
  height: 33px;
  font-size: 18px;
  background-color: green;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: rgb(8, 156, 8);
}

button:active {
  background-color: rgb(12, 177, 12);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  margin: 0px;
  padding: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
